@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
  

    background-size: cover;
    color: #2c2c2c;
  }
  
header {
  background: linear-gradient(to right, #125d98, #f2a365);
  color:#ffffff;
  padding: 60px 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

header h1, h2 {
  font-size: 3.2em; /* Decreased font size for the main title */
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
  opacity: 0.9;
}

/* Section Styles */
section {
  background-color:#ffffff;
  margin: 30px auto;
  padding: 40px;
  border-radius: 12px;
  max-width: 960px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

section:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

h2 {
  color: #125d98;
  border-left: 4px solid #f2a365;
  padding-left: 12px;
  margin-bottom: 20px;
  font-size: 2.8em; /* Decreased font size for section title */
}

/* Lists */
ul {
  padding-left: 20px;
  line-height: 1.8;
}

li::marker {
  color: #f2a365;
}

/* Image Styling */
img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Footer */
footer {
  background-color: #125d98;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  margin-top: 60px;
}